:root {
  --primary: rgb(255, 121, 0);
  --red: #CD3C14;
  --yellow: #FFCC00;
  --blue:#527EDB;
  --green:#32C832;
}

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
}
body {
  width: 100%;
  height: 100vh;
}

#config {
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}
#config > #hours,
#config > #minutes,
#config > #seconds {
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem auto;
}
#config > #hours > label,
#config > #minutes > label,
#config > #seconds > label {
  color: var(--primary);
  font-weight: bolder;
  margin: auto 2rem;
}
#config > #hours > input,
#config > #minutes > input,
#config > #seconds > input {
  color: var(--primary);
  font-weight: bolder;
  padding: 1.2rem;
  border: 1px solid var(--primary);
  margin: auto 2rem;
}

button{
  padding: 1rem 1.5rem;
  margin: 1.3rem;
  background-color: black;
  border: 1px solid var(--primary);
  color: var(--primary);
}
button:hover{
  background-color: var(--primary);
  color: white;
}

.box-wrapper{
display: flex;
flex-wrap: wrap;
justify-items: center;
justify-content: space-around;
}
.box{
  padding: 2rem;
  border: 1px solid var(--primary);
  margin: 2rem;
  margin-bottom: 0 !important;
}
.btn-action{
  padding: 2rem;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke;
  font-size: 18px !important;
  font-weight: bolder;
}
.btn-action.play{
background-color: var(--green);
border-color: var(--green);
}
.btn-action.play:hover{
background-color: black;
color: var(--green);
border-color: var(--green);
}
.btn-action.pause{
  background-color: var(--yellow);
  border-color: var(--yellow);
}
.btn-action.pause:hover{
background-color: black;
color: var(--yellow);
border-color: var(--yellow);
}
.btn-action.stop{
  background-color: var(--red);
  border-color: var(--red);
}
.btn-action.stop:hover{
background-color: black;
color: var(--red);
border-color: var(--red);
}

.countdown{
  padding: 5rem;
  font-size: 5rem;
  background-color: black;
  color: var(--primary);
}
.info{
  font-size: 2rem;
  background-color: var(--primary);
  color: white;
  margin: 1rem;
}