:root {
  --primary: rgb(255, 121, 0);
}

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

#config {
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}
#config > #hours,
#config > #minutes,
#config > #seconds {
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem auto;
}
#config > #hours > label,
#config > #minutes > label,
#config > #seconds > label {
  color: var(--primary);
  font-weight: bolder;
  margin: auto 2rem;
}
#config > #hours > input,
#config > #minutes > input,
#config > #seconds > input {
  color: var(--primary);
  font-weight: bolder;
  padding: 1.2rem;
  border: 1px solid var(--primary);
  margin: auto 2rem;
}

button{
  padding: 1rem 1.5rem;
  margin: 1.3rem;
  background-color: azure;
  border: 1px solid var(--primary);
  color: black;
}
button:hover{
  background-color: var(--primary);
  color: white;
}

.box-wrapper{
display: flex;
flex-wrap: wrap;
justify-items: center;
justify-content: space-around;
}
.box{
  padding: 2rem;
  border: 1px solid var(--primary);
}